*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: Arial, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    pad: 0 10px;
}

.header{
    position: relative;
    background-color: #f9f9f9;
}  

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
 }

 .hd span{
    font-size: 18px;
    color: #313131;
    font-weight: 700;
 }

 .hd {
    text-decoration: none;
 }

.nav_list{
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.nav__link{
    text-decoration: none;
    color: #313131;
}

@media (max-width: 1200px){
    .nav{
        display: none;
    }
}

.text--orange {
    color: rgb(255, 166, 2);
}

.link {
    display: block;
    color: rgb(7, 7, 7);
    font-size: 20px;
    text-decoration: none;
}

.link:hover {
    color: orange;
}

.section-subtitle {
    margin-top: 90px;
    display: block;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 18px;
    padding: 10px;
}

.section-title {
    margin-top: 70px;
    font-size: 45px;
    color: #000000;
    text-align: center;
    font-weight: 500;
}

.section-subtitle:hover{
    color: #ff7424;
    transition: 0.5s;
}

.section-title:hover{
    color: #ff7424;
    transition: 0.5s;
}

.welcome__inner {
    padding: 180px 0 200px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.welcome__title{
    font-weight: 600;
    font-size: 70px;
    padding-bottom: 36px;
    color: #313131;
}

.welcome__subtitle {
    font-size: 18px;
    color: #313131;
    max-width: 400px;
    margin: 0 auto 64px;
}

.welcome__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-btn {
    border-radius: 5px;
    background-color: orange;
    color: #ffffff;
    width: 150px;
    height: 50px;
    font-size: 16px;
    border: #000000 solid 0px;
    cursor: pointer;
    text-decoration: none;
}

.welcome-btn:hover {
    background-color: #ffff;
    border: orange solid 1px;
    color: orange;
    transition: 0.5s;
}

.welcome__link {
    margin-left: 37px;
    position: relative;
}

/* services */

.services {
    background-color: #ffff;
    position: relative;
    padding-bottom: 140px;
}

.services__card-logo{
    width: 100px;
}

.services__cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap:wrap;
    padding: 80px;
}

.services__card {
    padding: 40px 30px;
    flex-basis: 50%;
    max-width: 348px;
    border-radius: 5px;
    border: 1px solid #fbfbfb;
    cursor: pointer;
    font-size: 18px;
}

.services__card:hover{
    box-shadow: 0px 10px 10px 0px rgb(223, 223, 222);
    transition: 0.5s;
}

.expand-btn{
    width: 190px;
    height: 50px;
    background-color: rgb(245, 182, 65);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.expand-btn:hover {
    background-color: #ffff;
    color: orange;
    border: 1px solid orange;
    transition: 0.5s;
}

.hidden {
    display: none;
}

.services__card-head{
    display: flex;
    column-gap: 15px;
    margin-bottom: 32px;
}

.services__card-logo{
    height: 100%;
}

.services__card-title{
    font-size: 38px;
    color: #313131;
    font-weight: 500;
    margin-bottom: 80px;
    padding: 30px 0px 0px 0px;
}

.services__card-description{
    font-size: 18px;
    color: #313131;

}

.aboutus {
    background-color: #f8f7f7;
    padding: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
}

.aboutus-btn{
    width: 190px;
    height: 50px;
    background-color: rgb(245, 182, 65);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;

}

.aboutus-btn:hover{
    background-color: #ffff;
    color: orange;
    border: 1px solid orange;
    transition: 0.5s;
}

.aboutus__image{
    max-width: 500px;
}

.aboutus__text{
    max-width: 400px;
    padding: 20px;
    padding-left: 0;
    margin-bottom: 10px;
}

.aboutus__text h1{
    padding:20px;
    padding-left: 0;
    margin-bottom: 10px;
}

.testimonials__feedback-title{
    font-size: 25px;
    color: #313131;
    font-weight: 500;
    margin-bottom: 80px;
    padding: 30px 0px 0px 0px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.testiomonials__row-logo{
    margin-top: 150px;
}


.rate {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-top: 120px;
  }
  .rate_top h1 {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #000000;
    transition: all 300ms;
  }
  .rate_top h1:hover {
    color: #ff7424;
    border-bottom: 2px solid #ff7424;
  }
  .rate_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .rate_card {
    width: 300px;
    padding: 10px;
    margin: 30px;
    background-color: #fff;
    border: 2px solid #b3b3b3;
    transition: all 200ms;
  }
  .rate_card:hover {
    transform: scale(1.2);
  }
  .image_avatarka {
    max-width: 50px;
  }
  .image_star {
    max-width: 30px;
  }

  h1:hover{
    color: #ff7424;
    transition: 0.5s;
  }

.pricing__title{
    width: 10%;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #000000;
    transition: all 300ms;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 200px;
}

.pricing-btn{
    width: 170px;
    height: 40px;
    border: 1px solid #fb6006;
    color: #ff7424;
    border-radius: 5px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.pricing-btn:hover{
    background-color: rgb(245, 182, 65);
    color: #ffff;
    transition: 0.5s;
}

.pricing__btn-premium{
    width: 170px;
    height: 40px;
    border: 1px solid rgb(245, 182, 65);
    color: #ffff;
    border-radius: 5px;
    background-color: rgb(245, 182, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.pricing__btn-premium:hover{
    background-color: #ffff;
    color: rgb(245, 182, 65);
    transition: 0.5s;
    text-align: center;
}

.pricing__cards{
    margin-top: 100px;
    display: flex;
    gap: 42px;
    justify-content: center;
    padding-bottom: 140px;
    flex-wrap: wrap;
}

.pricing__card{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e4e3e3;
    max-width: 362px;
    width: 100%;
}

.pricing__card.active{
    background-color: #fff;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
}

.pricing__card-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

}

.pricing__card-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 21px;
    color: #313131;
}

.pricing__card-price{
    font-size: 60px;
    font-weight: 700;
    color: #313131;
    margin-bottom: 24px;
}

.pricing__card-advantages{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 48px;
}

.pricing__advantage-text{
    color: #514040;
    font-size: 16px;
}


.rate {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-top: 120px;
  }
  .rate_top h1 {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #000000;
    transition: all 300ms;
  }
  .rate_top h1:hover {
    color: #ff7424;
    border-bottom: 2px solid #ff7424;
  }
  .rate_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .rate_card {
    width: 300px;
    padding: 10px;
    margin: 30px;
    background-color: #fff;
    border: 2px solid #b3b3b3;
    transition: all 200ms;
  }
  .rate_card:hover {
    transform: scale(1.2);
  }
  .image_avatarka {
    max-width: 50px;
  }
  .image_star {
    max-width: 30px;
  }
  /*contact*/
  .contact {
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
  }
  .contact_top {
    border-bottom: 2px solid #333;
    padding: 20px;
    margin-bottom: 40px;
    transition: all 200ms;
  }
  
  .contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    border-radius: 10px;
    border: 1px solid #ff7424;
  }
  .input_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .input_group label {
    font-size: 16px;
    color: #ff7424;
    padding: 10px 0px;
    padding-top: 30px;
  }
  .input_group input {
    padding: 10px;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ff7424;
  }
  .input_group input::placeholder {
    color: #999;
  }
  #button_form {
    margin: 30px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ff7424;
    border: 1px solid #ff7424;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 300ms;
    text-decoration: none;
  }
  #button_form:hover {
    background-color: #fff;
    color: #ff7424;
    border: 1px solid #ff7424;
  }

  .footer{
    margin: 77px;

}

.footer .logo span{
    font-size: 24px;
}

.footer .logo{
    margin-bottom: 35px;
}

.footer_inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer_column{
    display: flex;
    flex-direction: column;
    max-width: 236px;
}

.footer_text{
    color: #313131;
    font-size: 16px;
    margin-bottom: 64px;
}

.footer_socials{
    display: flex;
    column-gap: 15px;
}

.footer_social{
    width: 28px;
    height: 28px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer_column-title{
    font-size: 20px;
    color: #1c1c1d;
    margin-bottom: 48px;
}

.footer_link{
    color: #313131;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 28px;
}
